{erl_opts, [debug_info]}.
{deps, []}.

{profiles,
 [
  {test,
   [{deps,
     [{unite, "",
       {git, "git://github.com/eproxus/unite.git",
        "cebbd657d4b1ac9715f109e215ae62236bd75959"}}
     ]}
   ]}
 ]
}.

{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
